In [95]:
import pandas as pd

## Open the file "fashion.csv" using pandas.

In [96]:
# read fashion data
df = pd.read_csv('F:\\2019Spring\\Text Analytics\\homework\\ASN3\\fashion.csv')
df.head()

,year,season,brand,author of review,location,time,review text
0,2016,Spring,A Dtacher,Kristin Anderson,NEW YORK,"September 13, 2015",Detachment was the word of the day at A Dtache...
1,2016,Spring,A.F. Vandevorst,Luke Leitch,PARIS,"October 1, 2015",You heard this collection coming long before y...
2,2016,Spring,A.L.C.,Kristin Anderson,NEW YORK,"September 21, 2015",August saw the announcement of big news for A....
3,2016,Spring,A.P.C.,Nicole Phelps,PARIS,"October 3, 2015","They call me the king of basics, Jean Touitou ..."
4,2016,Spring,A.W.A.K.E.,Maya Singer,NEW YORK,"October 21, 2015",Natalia Alaverdian is a designer with a lot of...

In [97]:
# get review column
review_df = df['review text']
review_df.head()

0    Detachment was the word of the day at A Dtache...
1    You heard this collection coming long before y...
2    August saw the announcement of big news for A....
3    They call me the king of basics, Jean Touitou ...
4    Natalia Alaverdian is a designer with a lot of...
Name: review text, dtype: object

## Generate polarity scores - positive, negative, neutral - for each review using NLTK*.

In [98]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer # Vader

res = []
sid = SentimentIntensityAnalyzer()
for sentence in review_df:
    ss = sid.polarity_scores(sentence)
    row = []
    for k in ss:
        row.append(ss[k])
    res.append(row)
res

[[0.012, 0.883, 0.105, 0.9625],
 [0.052, 0.889, 0.059, 0.4378],
 [0.006, 0.872, 0.122, 0.9842],
 [0.054, 0.846, 0.1, 0.9373],
 [0.017, 0.866, 0.116, 0.9738],
 [0.031, 0.797, 0.173, 0.9834],
 [0.025, 0.855, 0.12, 0.987],
 [0.011, 0.839, 0.15, 0.9862],
 [0.039, 0.867, 0.094, 0.9602],
 [0.015, 0.919, 0.066, 0.9325],
 [0.014, 0.902, 0.084, 0.9013],
 [0.039, 0.882, 0.079, 0.8723],
 [0.01, 0.884, 0.106, 0.9649],
 [0.006, 0.894, 0.1, 0.9796],
 [0.0, 0.898, 0.102, 0.9801],
 [0.02, 0.746, 0.234, 0.9965],
 [0.007, 0.881, 0.112, 0.9917],
 [0.012, 0.857, 0.131, 0.9951],
 [0.032, 0.897, 0.071, 0.9493],
 [0.018, 0.869, 0.113, 0.9648],
 [0.036, 0.902, 0.062, 0.8176],
 [0.046, 0.824, 0.13, 0.9734],
 [0.008, 0.863, 0.13, 0.9912],
 [0.021, 0.876, 0.103, 0.9871],
 [0.007, 0.899, 0.094, 0.9798],
 [0.025, 0.771, 0.204, 0.9927],
 [0.039, 0.809, 0.152, 0.9888],
 [0.04, 0.883, 0.076, 0.8658],
 [0.03, 0.869, 0.101, 0.9804],
 [0.039, 0.884, 0.077, 0.8988],
 [0.0, 0.885, 0.115, 0.9895],
 [0.043, 0.877, 0.08, 0.6448],
 [0.016, 0.925, 0.059, 0.8922],
 [0.019, 0.865, 0.117, 0.9701],
 [0.025, 0.813, 0.161, 0.9933],
 [0.064, 0.828, 0.108, 0.8191],
 [0.021, 0.869, 0.11, 0.9753],
 [0.047, 0.847, 0.106, 0.9246],
 [0.03, 0.902, 0.067, 0.719],
 [0.118, 0.79, 0.092, -0.8047],
 [0.075, 0.835, 0.09, 0.5574],
 [0.019, 0.908, 0.072, 0.9455],
 [0.037, 0.913, 0.05, 0.4355],
 [0.037, 0.849, 0.114, 0.9661],
 [0.0, 0.89, 0.11, 0.9585],
 [0.038, 0.823, 0.139, 0.9894],
 [0.0, 0.875, 0.125, 0.9878],
 [0.018, 0.929, 0.052, 0.8658],
 [0.028, 0.907, 0.066, 0.9141],
 [0.04, 0.86, 0.1, 0.9782],
 [0.017, 0.877, 0.106, 0.9888],
 [0.012, 0.891, 0.097, 0.9719],
 [0.052, 0.877, 0.071, 0.4497],
 [0.051, 0.862, 0.086, 0.8821],
 [0.013, 0.876, 0.112, 0.9634],
 [0.025, 0.787, 0.188, 0.9872],
 [0.03, 0.827, 0.143, 0.9918],
 [0.038, 0.859, 0.104, 0.9636],
 [0.068, 0.836, 0.095, 0.705],
 [0.011, 0.85, 0.139, 0.9933],
 [0.025, 0.8, 0.175, 0.9951],
 [0.039, 0.875, 0.086, 0.9069],
 [0.019, 0.868, 0.114, 0.9771],
 [0.018, 0.845, 0.136, 0.9818],
 [0.01, 0.894, 0.096, 0.9781],
 [0.04, 0.802, 0.158, 0.9831],
 [0.005, 0.919, 0.076, 0.949],
 [0.032, 0.862, 0.106, 0.9747],
 [0.009, 0.816, 0.175, 0.9931],
 [0.02, 0.871, 0.109, 0.9903],
 [0.006, 0.882, 0.112, 0.9729],
 [0.0, 0.905, 0.095, 0.9788],
 [0.016, 0.847, 0.137, 0.9884],
 [0.045, 0.814, 0.141, 0.9822],
 [0.016, 0.874, 0.109, 0.9714],
 [0.041, 0.852, 0.107, 0.9684],
 [0.012, 0.887, 0.102, 0.9916],
 [0.035, 0.876, 0.089, 0.9545],
 [0.015, 0.874, 0.111, 0.9893],
 [0.031, 0.867, 0.102, 0.9842],
 [0.053, 0.743, 0.204, 0.9953],
 [0.03, 0.903, 0.067, 0.8756],
 [0.016, 0.87, 0.115, 0.9805],
 [0.054, 0.841, 0.105, 0.8685],
 [0.064, 0.847, 0.089, 0.87],
 [0.023, 0.792, 0.186, 0.9972],
 [0.0, 0.883, 0.117, 0.9497],
 [0.01, 0.885, 0.105, 0.9834],
 [0.009, 0.821, 0.17, 0.9967],
 [0.011, 0.87, 0.119, 0.9804],
 [0.025, 0.867, 0.108, 0.9704],
 [0.045, 0.887, 0.068, 0.6235],
 [0.033, 0.909, 0.058, 0.5589],
 [0.017, 0.867, 0.117, 0.9851],
 [0.021, 0.87, 0.109, 0.958],
 [0.016, 0.882, 0.103, 0.9788],
 [0.005, 0.864, 0.13, 0.9897],
 [0.051, 0.902, 0.047, 0.0526],
 [0.019, 0.882, 0.099, 0.9668],
 [0.039, 0.837, 0.124, 0.9779],
 [0.047, 0.88, 0.072, 0.7504],
 [0.023, 0.883, 0.094, 0.9136],
 [0.038, 0.749, 0.213, 0.9884],
 [0.007, 0.832, 0.16, 0.9954],
 [0.008, 0.844, 0.149, 0.9896],
 [0.014, 0.899, 0.087, 0.9645],
 [0.05, 0.815, 0.135, 0.9625],
 [0.027, 0.814, 0.159, 0.9761],
 [0.012, 0.927, 0.061, 0.8481],
 [0.014, 0.882, 0.104, 0.9657],
 [0.034, 0.854, 0.112, 0.9864],
 [0.039, 0.879, 0.082, 0.9565],
 [0.027, 0.868, 0.105, 0.9825],
 [0.007, 0.797, 0.196, 0.9923],
 [0.042, 0.86, 0.098, 0.9643],
 [0.041, 0.854, 0.105, 0.9612],
 [0.053, 0.85, 0.097, 0.9238],
 [0.009, 0.937, 0.054, 0.8417],
 [0.019, 0.921, 0.06, 0.9571],
 [0.006, 0.854, 0.141, 0.9883],
 [0.007, 0.864, 0.13, 0.9797],
 [0.02, 0.892, 0.088, 0.9544],
 [0.005, 0.908, 0.086, 0.9856],
 [0.009, 0.845, 0.146, 0.9709],
 [0.019, 0.814, 0.167, 0.9948],
 [0.021, 0.871, 0.108, 0.9711],
 [0.02, 0.87, 0.11, 0.9625],
 [0.029, 0.882, 0.089, 0.9699],
 [0.039, 0.874, 0.087, 0.9337],
 [0.035, 0.874, 0.091, 0.9493],
 [0.041, 0.907, 0.052, 0.6542],
 [0.015, 0.847, 0.138, 0.9874],
 [0.009, 0.859, 0.131, 0.9758],
 [0.0, 0.801, 0.199, 0.9918],
 [0.006, 0.854, 0.139, 0.9877],
 [0.038, 0.868, 0.094, 0.9491],
 [0.038, 0.82, 0.142, 0.9818],
 [0.06, 0.824, 0.116, 0.9528],
 [0.033, 0.876, 0.092, 0.9817],
 [0.008, 0.863, 0.129, 0.982],
 [0.03, 0.816, 0.154, 0.9887],
 [0.061, 0.862, 0.077, 0.5095],
 [0.052, 0.861, 0.088, 0.9089],
 [0.087, 0.864, 0.05, -0.7173],
 [0.033, 0.821, 0.146, 0.9925],
 [0.046, 0.837, 0.117, 0.9801],
 [0.047, 0.818, 0.135, 0.9743],
 [0.072, 0.804, 0.124, 0.9433],
 [0.028, 0.854, 0.118, 0.9807],
 [0.009, 0.821, 0.17, 0.9975],
 [0.013, 0.88, 0.107, 0.9773],
 [0.017, 0.891, 0.092, 0.9424],
 [0.0, 0.849, 0.151, 0.9839],
 [0.027, 0.919, 0.054, 0.9174],
 [0.0, 0.923, 0.077, 0.9661],
 [0.011, 0.821, 0.168, 0.9898],
 [0.067, 0.845, 0.088, 0.9347],
 [0.015, 0.869, 0.116, 0.9913],
 [0.033, 0.912, 0.055, 0.9418],
 [0.005, 0.892, 0.103, 0.9749],
 [0.045, 0.876, 0.078, 0.8778],
 [0.009, 0.876, 0.116, 0.9753],
 [0.008, 0.883, 0.109, 0.9753],
 [0.089, 0.792, 0.119, 0.8985],
 [0.024, 0.904, 0.071, 0.9332],
 [0.007, 0.826, 0.167, 0.9948],
 [0.028, 0.78, 0.191, 0.9904],
 [0.046, 0.908, 0.046, 0.0636],
 [0.049, 0.92, 0.031, -0.5423],
 [0.057, 0.818, 0.125, 0.9521],
 [0.01, 0.909, 0.081, 0.9178],
 [0.01, 0.797, 0.192, 0.9933],
 [0.052, 0.879, 0.069, 0.4717],
 [0.0, 0.916, 0.084, 0.9611],
 [0.035, 0.874, 0.091, 0.964],
 [0.02, 0.897, 0.083, 0.9428],
 [0.041, 0.856, 0.103, 0.9217],
 [0.0, 0.869, 0.131, 0.9795],
 [0.015, 0.921, 0.063, 0.7527],
 [0.0, 0.929, 0.071, 0.8439],
 [0.019, 0.85, 0.131, 0.9922],
 [0.0, 0.894, 0.106, 0.9637],
 [0.028, 0.891, 0.081, 0.9656],
 [0.071, 0.846, 0.083, 0.7149],
 [0.021, 0.778, 0.201, 0.9944],
 [0.065, 0.872, 0.063, -0.5555],
 [0.0, 0.94, 0.06, 0.8957],
 [0.031, 0.887, 0.082, 0.9718],
 [0.057, 0.881, 0.062, 0.4639],
 [0.007, 0.86, 0.133, 0.978],
 [0.031, 0.924, 0.044, 0.7258],
 [0.041, 0.749, 0.21, 0.9886],
 [0.023, 0.912, 0.064, 0.7906],
 [0.0, 0.883, 0.117, 0.9759],
 [0.02, 0.853, 0.127, 0.9659],
 [0.024, 0.845, 0.13, 0.9755],
 [0.025, 0.912, 0.063, 0.8786],
 [0.008, 0.821, 0.171, 0.9862],
 [0.04, 0.829, 0.131, 0.9944],
 [0.023, 0.843, 0.134, 0.9799],
 [0.027, 0.89, 0.083, 0.9508],
 [0.019, 0.904, 0.077, 0.945],
 [0.104, 0.816, 0.081, -0.6852],
 [0.045, 0.849, 0.105, 0.9299],
 [0.033, 0.858, 0.109, 0.9768],
 [0.014, 0.867, 0.119, 0.9638],
 [0.021, 0.89, 0.089, 0.8907],
 [0.023, 0.887, 0.091, 0.9216],
 [0.0, 0.877, 0.123, 0.9856],
 [0.0, 0.93, 0.07, 0.9324],
 [0.03, 0.909, 0.062, 0.8591],
 [0.021, 0.893, 0.087, 0.9453],
 [0.004, 0.942, 0.054, 0.9219],
 [0.008, 0.906, 0.086, 0.9555],
 [0.027, 0.902, 0.071, 0.9264],
 [0.0, 0.895, 0.105, 0.976],
 [0.005, 0.948, 0.047, 0.8807],
 [0.013, 0.903, 0.085, 0.9442],
 [0.026, 0.858, 0.116, 0.9718],
 [0.038, 0.866, 0.096, 0.9713],
 [0.045, 0.864, 0.091, 0.8613],
 [0.007, 0.855, 0.137, 0.995],
 [0.012, 0.846, 0.141, 0.9916],
 [0.012, 0.923, 0.065, 0.9465],
 [0.01, 0.801, 0.189, 0.9903],
 [0.036, 0.874, 0.091, 0.9201],
 [0.006, 0.841, 0.152, 0.9907],
 [0.007, 0.844, 0.149, 0.9799],
 [0.027, 0.902, 0.071, 0.7814],
 [0.041, 0.822, 0.137, 0.9755],
 [0.015, 0.898, 0.086, 0.9502],
 [0.014, 0.882, 0.103, 0.9781],
 [0.029, 0.819, 0.152, 0.9852],
 [0.049, 0.831, 0.12, 0.9595],
 [0.056, 0.815, 0.129, 0.9777],
 [0.008, 0.889, 0.103, 0.9781],
 [0.0, 0.903, 0.097, 0.9652],
 [0.042, 0.825, 0.133, 0.9903],
 [0.004, 0.922, 0.074, 0.9729],
 [0.03, 0.856, 0.114, 0.9468],
 [0.024, 0.922, 0.054, 0.7845],
 [0.007, 0.85, 0.143, 0.9925],
 [0.027, 0.802, 0.171, 0.9904],
 [0.015, 0.847, 0.139, 0.9744],
 [0.038, 0.927, 0.035, 0.0183],
 [0.018, 0.857, 0.125, 0.9926],
 [0.008, 0.712, 0.281, 0.9971],
 [0.03, 0.91, 0.059, 0.8908],
 [0.017, 0.862, 0.121, 0.9803],
 [0.035, 0.828, 0.137, 0.9855],
 [0.047, 0.881, 0.072, 0.6705],
 [0.065, 0.841, 0.095, 0.8271],
 [0.017, 0.823, 0.159, 0.9942],
 [0.044, 0.818, 0.138, 0.983],
 [0.03, 0.816, 0.154, 0.9856],
 [0.013, 0.881, 0.106, 0.9902],
 [0.014, 0.888, 0.099, 0.9468],
 [0.048, 0.881, 0.071, 0.9171],
 [0.029, 0.834, 0.137, 0.9799],
 [0.014, 0.889, 0.097, 0.9654],
 [0.01, 0.86, 0.13, 0.9879],
 [0.015, 0.892, 0.093, 0.9481],
 [0.014, 0.84, 0.146, 0.9903],
 [0.07, 0.845, 0.085, 0.7281],
 [0.033, 0.837, 0.13, 0.9864],
 [0.029, 0.85, 0.121, 0.9558],
 [0.017, 0.876, 0.107, 0.987],
 [0.032, 0.81, 0.158, 0.9882],
 [0.019, 0.822, 0.159, 0.9872],
 [0.007, 0.854, 0.139, 0.9884],
 [0.034, 0.891, 0.075, 0.9161],
 [0.039, 0.856, 0.105, 0.9592],
 [0.029, 0.864, 0.107, 0.9628],
 [0.027, 0.862, 0.111, 0.9682],
 [0.0, 0.829, 0.171, 0.9952],
 [0.04, 0.837, 0.122, 0.98],
 [0.03, 0.857, 0.113, 0.9791],
 [0.047, 0.802, 0.151, 0.9862],
 [0.026, 0.886, 0.088, 0.909],
 [0.0, 0.841, 0.159, 0.9686],
 [0.051, 0.845, 0.104, 0.8882],
 [0.0, 0.837, 0.163, 0.9792],
 [0.048, 0.91, 0.042, -0.5791],
 [0.025, 0.927, 0.049, 0.7783],
 [0.051, 0.877, 0.072, 0.855],
 [0.009, 0.814, 0.178, 0.9855],
 [0.04, 0.892, 0.067, 0.7096],
 [0.019, 0.881, 0.1, 0.9865],
 [0.059, 0.884, 0.057, -0.1297],
 [0.057, 0.82, 0.123, 0.9565],
 [0.025, 0.876, 0.099, 0.9767],
 [0.02, 0.883, 0.097, 0.9876],
 [0.038, 0.789, 0.173, 0.995],
 [0.041, 0.829, 0.13, 0.9644],
 [0.01, 0.897, 0.093, 0.9646],
 [0.0, 0.926, 0.074, 0.8847],
 [0.02, 0.825, 0.155, 0.99],
 [0.027, 0.868, 0.105, 0.9834],
 [0.0, 0.917, 0.083, 0.9505],
 [0.036, 0.895, 0.069, 0.8591],
 [0.008, 0.916, 0.076, 0.9279],
 [0.018, 0.906, 0.076, 0.91],
 [0.045, 0.876, 0.08, 0.8426],
 [0.016, 0.905, 0.08, 0.9497],
 [0.036, 0.891, 0.073, 0.9041],
 [0.091, 0.816, 0.093, -0.1154],
 [0.027, 0.882, 0.091, 0.9655],
 [0.034, 0.771, 0.194, 0.991],
 [0.029, 0.879, 0.092, 0.9621],
 [0.028, 0.902, 0.071, 0.8718],
 [0.018, 0.934, 0.048, 0.7506],
 [0.022, 0.891, 0.086, 0.9682],
 [0.025, 0.889, 0.086, 0.9622],
 [0.007, 0.896, 0.097, 0.9565],
 [0.025, 0.898, 0.077, 0.8915],
 [0.022, 0.907, 0.071, 0.9509],
 [0.052, 0.809, 0.139, 0.9726],
 [0.025, 0.922, 0.052, 0.863],
 [0.036, 0.919, 0.044, 0.2732],
 [0.006, 0.91, 0.084, 0.9664],
 [0.025, 0.895, 0.08, 0.864],
 [0.005, 0.918, 0.078, 0.9481],
 [0.036, 0.89, 0.074, 0.9234],
 [0.0, 0.905, 0.095, 0.9787],
 [0.011, 0.888, 0.101, 0.9451],
 [0.015, 0.843, 0.142, 0.9781],
 [0.0, 0.906, 0.094, 0.9345],
 [0.0, 0.897, 0.103, 0.9766],
 [0.004, 0.806, 0.19, 0.9957],
 [0.016, 0.874, 0.11, 0.9906],
 [0.024, 0.841, 0.134, 0.9883],
 [0.028, 0.897, 0.076, 0.7785],
 [0.016, 0.88, 0.104, 0.9848],
 [0.016, 0.908, 0.076, 0.8979],
 [0.02, 0.867, 0.113, 0.9632],
 [0.037, 0.864, 0.099, 0.9557],
 [0.0, 0.796, 0.204, 0.9967],
 [0.0, 0.849, 0.151, 0.9923],
 [0.0, 0.904, 0.096, 0.9253],
 [0.019, 0.857, 0.124, 0.9741],
 [0.071, 0.842, 0.087, 0.2904],
 [0.036, 0.878, 0.087, 0.9166],
 [0.027, 0.893, 0.08, 0.9744],
 [0.0, 0.848, 0.152, 0.9828],
 [0.013, 0.866, 0.12, 0.984],
 [0.017, 0.833, 0.149, 0.981],
 [0.013, 0.823, 0.164, 0.9822],
 [0.025, 0.806, 0.168, 0.9922],
 [0.023, 0.863, 0.114, 0.9721],
 [0.03, 0.873, 0.097, 0.9586],
 [0.031, 0.836, 0.133, 0.9829],
 [0.02, 0.828, 0.153, 0.9909],
 [0.024, 0.843, 0.133, 0.9911],
 [0.009, 0.902, 0.09, 0.9674],
 [0.034, 0.887, 0.079, 0.9234],
 [0.0, 0.892, 0.108, 0.9922],
 [0.027, 0.916, 0.057, 0.8074],
 [0.038, 0.857, 0.105, 0.9684],
 [0.042, 0.835, 0.124, 0.9833],
 [0.015, 0.84, 0.145, 0.9873],
 [0.01, 0.839, 0.151, 0.9538],
 [0.048, 0.799, 0.154, 0.9746],
 [0.023, 0.907, 0.071, 0.9225],
 [0.009, 0.933, 0.057, 0.8779],
 [0.015, 0.914, 0.07, 0.8671],
 [0.055, 0.896, 0.049, -0.1592],
 [0.005, 0.902, 0.093, 0.9753],
 [0.018, 0.893, 0.089, 0.9584],
 [0.009, 0.847, 0.144, 0.986],
 [0.042, 0.844, 0.114, 0.9427],
 [0.023, 0.86, 0.117, 0.9852],
 [0.011, 0.958, 0.032, 0.4215],
 [0.035, 0.91, 0.056, 0.8663],
 [0.032, 0.821, 0.147, 0.9913],
 [0.019, 0.846, 0.134, 0.9819],
 [0.01, 0.793, 0.198, 0.996],
 [0.028, 0.861, 0.11, 0.9836],
 [0.007, 0.871, 0.122, 0.9801],
 [0.019, 0.755, 0.226, 0.996],
 [0.015, 0.876, 0.109, 0.9847],
 [0.022, 0.903, 0.075, 0.9104],
 [0.014, 0.911, 0.075, 0.9403],
 [0.005, 0.911, 0.084, 0.9738],
 [0.015, 0.926, 0.059, 0.8779],
 [0.025, 0.822, 0.153, 0.9832],
 [0.022, 0.853, 0.125, 0.9885],
 [0.0, 0.835, 0.165, 0.9859],
 [0.0, 0.92, 0.08, 0.9403],
 [0.0, 0.878, 0.122, 0.9838],
 [0.056, 0.855, 0.089, 0.8814],
 [0.01, 0.88, 0.11, 0.9812],
 [0.076, 0.856, 0.069, -0.461],
 [0.0, 0.836, 0.164, 0.993],
 [0.029, 0.883, 0.088, 0.9382],
 [0.018, 0.813, 0.169, 0.9905],
 [0.021, 0.877, 0.102, 0.9894],
 [0.012, 0.949, 0.039, 0.4118],
 [0.008, 0.895, 0.097, 0.9757],
 [0.051, 0.865, 0.085, 0.8885],
 [0.005, 0.917, 0.079, 0.9589],
 [0.021, 0.891, 0.088, 0.9316],
 [0.03, 0.877, 0.093, 0.9497],
 [0.09, 0.81, 0.1, 0.8143],
 [0.008, 0.913, 0.079, 0.9575],
 [0.041, 0.816, 0.143, 0.9951],
 [0.039, 0.878, 0.083, 0.967],
 [0.013, 0.929, 0.057, 0.847],
 [0.023, 0.852, 0.124, 0.9886],
 [0.013, 0.876, 0.111, 0.985],
 [0.088, 0.803, 0.109, 0.7032],
 [0.038, 0.85, 0.112, 0.9437],
 [0.013, 0.91, 0.077, 0.9733],
 [0.0, 0.858, 0.142, 0.99],
 [0.072, 0.861, 0.067, 0.7095],
 [0.014, 0.905, 0.081, 0.9392],
 [0.027, 0.871, 0.103, 0.9507],
 [0.023, 0.867, 0.111, 0.9811],
 [0.009, 0.905, 0.086, 0.9664],
 [0.011, 0.922, 0.067, 0.9422],
 [0.031, 0.84, 0.129, 0.9849],
 [0.029, 0.868, 0.103, 0.9842],
 [0.041, 0.936, 0.024, -0.2828],
 [0.0, 0.855, 0.145, 0.9839],
 [0.026, 0.916, 0.059, 0.8807],
 [0.007, 0.902, 0.09, 0.9413],
 [0.0, 0.904, 0.096, 0.9582],
 [0.027, 0.838, 0.135, 0.9806],
 [0.021, 0.848, 0.131, 0.9837],
 [0.025, 0.857, 0.118, 0.9731],
 [0.02, 0.9, 0.08, 0.8982],
 [0.0, 0.906, 0.094, 0.9571],
 [0.024, 0.89, 0.086, 0.8831],
 [0.034, 0.871, 0.095, 0.98],
 [0.044, 0.92, 0.036, -0.3903]]

In [99]:
# trun res(list) into matrix
data = pd.DataFrame(res,columns= ['Negative','Neutral','Positive','comp'])
data.head()

   Negative  Neutral  Positive    comp
0     0.012    0.883     0.105  0.9625
1     0.052    0.889     0.059  0.4378
2     0.006    0.872     0.122  0.9842
3     0.054    0.846     0.100  0.9373
4     0.017    0.866     0.116  0.9738

## build columns: 1. ID, 2. Positive, 3. Negative, and 4. Neutral scores

In [100]:
# delet 'comp' column
data1 = data.drop('comp',axis=1)

In [101]:
# change the order of columns
data2 = data1.loc[:,['Positive','Negative','Neutral']]
data2.head()

   Positive  Negative  Neutral
0     0.105     0.012    0.883
1     0.059     0.052    0.889
2     0.122     0.006    0.872
3     0.100     0.054    0.846
4     0.116     0.017    0.866

In [102]:
# add an id column on the left
import numpy as np
id_column = pd.DataFrame(np.arange(1,len(data2)+1), columns=['ID'])
id_column.head()

   ID
0   1
1   2
2   3
3   4
4   5

In [103]:
# combine ID and data
new_data = pd.concat([id_column,data2],axis=1)
new_data.head()

   ID  Positive  Negative  Neutral
0   1     0.105     0.012    0.883
1   2     0.059     0.052    0.889
2   3     0.122     0.006    0.872
3   4     0.100     0.054    0.846
4   5     0.116     0.017    0.866

## Save the output as "sentiment_output.csv".

In [104]:
new_data.to_csv('F:\\2019Spring\\Text Analytics\\homework\\ASN3\\sentiment_output.csv', index = None)

## Merge the output file with the original input file.

In [105]:
merge_orginal = pd.concat([df,new_data],axis = 1)
merge_orginal.head()

,year,season,brand,author of review,location,time,review text,ID,Positive,Negative,Neutral
0,2016,Spring,A Dtacher,Kristin Anderson,NEW YORK,"September 13, 2015",Detachment was the word of the day at A Dtache...,1,0.105,0.012,0.883
1,2016,Spring,A.F. Vandevorst,Luke Leitch,PARIS,"October 1, 2015",You heard this collection coming long before y...,2,0.059,0.052,0.889
2,2016,Spring,A.L.C.,Kristin Anderson,NEW YORK,"September 21, 2015",August saw the announcement of big news for A....,3,0.122,0.006,0.872
3,2016,Spring,A.P.C.,Nicole Phelps,PARIS,"October 3, 2015","They call me the king of basics, Jean Touitou ...",4,0.100,0.054,0.846
4,2016,Spring,A.W.A.K.E.,Maya Singer,NEW YORK,"October 21, 2015",Natalia Alaverdian is a designer with a lot of...,5,0.116,0.017,0.866

## Summarize the sentiment scores for each of the four cities – New York, Paris, Milan, and London.

In [124]:
city_scoredf = pd.DataFrame(merge_orginal[['location','Positive','Negative','Neutral']])
city_scoredf = pd.concat([city_scoredf,data['comp']],axis = 1)
# for city in city_scoredf['location']:
#     if city == 'NEW YORK':
city_scoredf.head()

   location  Positive  Negative  Neutral    comp
0  NEW YORK     0.105     0.012    0.883  0.9625
1     PARIS     0.059     0.052    0.889  0.4378
2  NEW YORK     0.122     0.006    0.872  0.9842
3     PARIS     0.100     0.054    0.846  0.9373
4  NEW YORK     0.116     0.017    0.866  0.9738

### the socre of New York

In [127]:
NY = pd.DataFrame(city_scoredf.loc[city_scoredf['location'] == 'NEW YORK'])
NY.head()

   location  Positive  Negative  Neutral    comp
0  NEW YORK     0.105     0.012    0.883  0.9625
2  NEW YORK     0.122     0.006    0.872  0.9842
4  NEW YORK     0.116     0.017    0.866  0.9738
5  NEW YORK     0.173     0.031    0.797  0.9834
7  NEW YORK     0.150     0.011    0.839  0.9862

In [140]:
print('mean_comp:',np.mean(NY['comp']),'\n',
      'mean_pos:',np.mean(NY['Positive']),'\n',
      'mean_neg:',np.mean(NY['Negative']),'\n',
      'mean_neu:',np.mean(NY['Neutral']))

mean_comp: 0.908632535885168
 mean_pos: 0.11281818181818179
 mean_neg: 0.021287081339712906
 mean_neu: 0.8658995215311003

### the score of Paris

In [128]:
PR = pd.DataFrame(city_scoredf.loc[city_scoredf['location'] == 'PARIS'])
PR.head()

   location  Positive  Negative  Neutral    comp
1     PARIS     0.059     0.052    0.889  0.4378
3     PARIS     0.100     0.054    0.846  0.9373
6     PARIS     0.120     0.025    0.855  0.9870
11    PARIS     0.079     0.039    0.882  0.8723
13    PARIS     0.100     0.006    0.894  0.9796

In [141]:
print('mean_comp:',np.mean(PR['comp']),'\n',
      'mean_pos:',np.mean(PR['Positive']),'\n',
      'mean_neg:',np.mean(PR['Negative']),'\n',
      'mean_neu:',np.mean(PR['Neutral']))

mean_comp: 0.8863545454545453
 mean_pos: 0.10326363636363634
 mean_neg: 0.0273181818181818
 mean_neu: 0.8694363636363637

### the score of Milan

In [130]:
ML = pd.DataFrame(city_scoredf.loc[city_scoredf['location'] == 'MILAN'])
ML.head()

   location  Positive  Negative  Neutral    comp
12    MILAN     0.106     0.010    0.884  0.9649
14    MILAN     0.102     0.000    0.898  0.9801
26    MILAN     0.152     0.039    0.809  0.9888
32    MILAN     0.059     0.016    0.925  0.8922
35    MILAN     0.108     0.064    0.828  0.8191

In [142]:
print('mean_comp:',np.mean(ML['comp']),'\n',
      'mean_pos:',np.mean(ML['Positive']),'\n',
      'mean_neg:',np.mean(ML['Negative']),'\n',
      'mean_neu:',np.mean(ML['Neutral']))

mean_comp: 0.8465849056603776
 mean_pos: 0.10601886792452835
 mean_neg: 0.03179245283018869
 mean_neu: 0.8621132075471698

### the score of London

In [131]:
LD = pd.DataFrame(city_scoredf.loc[city_scoredf['location'] == 'LONDON'])
LD.head()

   location  Positive  Negative  Neutral    comp
16   LONDON     0.112     0.007    0.881  0.9917
31   LONDON     0.080     0.043    0.877  0.6448
33   LONDON     0.117     0.019    0.865  0.9701
38   LONDON     0.067     0.030    0.902  0.7190
39   LONDON     0.092     0.118    0.790 -0.8047

In [146]:
print('mean_comp:',np.mean(LD['comp']),'\n',
      'mean_pos:',np.mean(LD['Positive']),'\n',
      'mean_neg:',np.mean(LD['Negative']),'\n',
      'mean_neu:',np.mean(LD['Neutral']))

mean_comp: 0.853624193548387
 mean_pos: 0.10148387096774196
 mean_neg: 0.029725806451612893
 mean_neu: 0.8688548387096776